<!DOCTYPE html>
<html ng-app="MySpot" lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Spot</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.1.4/async.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
<!--   <link rel="stylesheet" href="Mmain.css"> -->
  <script src="Mmain.js"></script>
</head>

<body ng-controller="TheMix as mygig">
<div class="container">
    <h1>
       {{mygig.greeting}} 
    </h1> 
</div>
   
<div class="container">  
  <p> {{mygig.instructions1}}</p>
  <p> {{mygig.instructions2}}</p> 
  <p> {{mygig.instructions3}}</p>
  <p> {{mygig.instructions4}}</p>
</div>  

  <form ng-submit="mygig.getMix(mygig.artist1,
                                mygig.artist2,
                                mygig.artist3,
                                mygig.artist4,
                                mygig.artist5,
                                mygig.song1,
                                mygig.song2,
                                mygig.song3,
                                mygig.song4,
                                mygig.song5,
                                mygig.genre1,
                                mygig.genre2,
                                mygig.genre3,
                                mygig.genre4,
                                mygig.genre5,
                                mygig.nSongs
                                )" class="form-inline">
    <h4> Choose By Artist: </h4>
    <div class="form-group">
       
          <input ng-model="mygig.artist1" class="form-control" type="text" placeholder="First Artist Choice">
          <input ng-model="mygig.artist2" class="form-control" type="text" placeholder="Second Artist Choice">
          <input ng-model="mygig.artist3" class="form-control" type="text" placeholder="Third Artist Choice">
          <input ng-model="mygig.artist4" class="form-control" type="text" placeholder="Fourth Artist Choice">
          <input ng-model="mygig.artist5" class="form-control" type="text" placeholder="Fifth Artist Choice">
    </div>
    
    <h4> Choose By Song Title: </h4>
    
    <div class="form-group">
       
          <input ng-model="mygig.song1" class="form-control" type="text" placeholder="First Song Choice">
          <input ng-model="mygig.song2" class="form-control" type="text" placeholder="Second Song Choice">
          <input ng-model="mygig.song3" class="form-control" type="text" placeholder="Third Song Choice">
          <input ng-model="mygig.song4" class="form-control" type="text" placeholder="Fourth Song Choice">
          <input ng-model="mygig.song5" class="form-control" type="text" placeholder="Fifth Song Choice">
    </div>
    
    <h4> Choose By Genre: </h4>
    <div class="form-group">
       
          <input ng-model="mygig.genre1" class="form-control" type="text" placeholder = "First Genre Choice">
          <input ng-model="mygig.genre2" class="form-control" type="text" placeholder = "Second Genre Choice">
          <input ng-model="mygig.genre3" class="form-control" type="text" placeholder = "Third Genre Choice">
          <input ng-model="mygig.genre4" class="form-control" type="text" placeholder = "Fourth Genre Choice">
          <input ng-model="mygig.genre5" class="form-control" type="text" placeholder = "Fifth Genre Choice">
    </div>
    
    <h4> How Many Songs In Your Mix? (Up to 100 Songs): </h4>
    
    <div class="form-group">
       
          <input ng-model="mygig.nSongs" class="form-control" type="text" placeholder = "# of Songs (<=100)">
    </div>
    
    <h4>
      Get it!
    </h4>
    
<!--     <div class=button>
      <button>Make My Mix</button>
    </div> -->
    
    
    <button class="btn btn-primary btn-lg">Make My Mix</button>
  </form>
<!--   type="button" class="btn btn-success" -->
  <div>
    <h1> {{mygig.mixTitle}}</h1> 
  </div>
  
  <div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="MixList in mygig.mix | orderBy:'artists[0].name'" ng-click="mygig.getArtists(artists)">
            <p>
              {{MixList.artists[0].name}}
            </p>
            <p>
               {{MixList.name}}
            </p>
            <p>
               <iframe ng-src="{{ mygig.$sce.trustAsResourceUrl('https://embed.spotify.com/?uri=' + MixList.uri) }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            </p>
        </li>
     </ul>
  </div>
  
<!--   <div class="container">
  <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Song</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div> -->
  
</body>

</html>